@model IEnumerable<player_log.Models.CompanionListVM>

@{
    ViewData["Title"] = "Index";
}

<h1>NPC List</h1>

<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Campaign)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Campaign)
            </td>
            <td>
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a>
                <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-list"></i></a>
                <a onclick="return confirm('Are you sure you want to delete this campaign?')" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="fa fa-plus"></i> Create New NPC</a>
</p>