@model NpcDetailsVM
@{
    ViewBag.Title = $"Edit {Model.NpcName}";
}

<form class="card bg-light col-md-6 p-1 m-1 d-inline-block" asp-action="Edit">
    <input type="hidden" asp-for="NpcId" />
    <div class="card-header">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class=" card-body">
        <div class="input-group mb-3">
            <div class="input-group-prepend flex-column col-md-3 pr-2">
                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
            </div>
            <input asp-for="NpcName" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="@Model.NpcName">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend flex-column col-md-3 pr-2">
                <label class="input-group-text" for="inputGroupSelect01">Campaign</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model.Campaign.CampaignId">
                <option selected value="@Model.Campaign.CampaignId">Choose...</option>
                @foreach (var c in ViewBag.Camps)
                {
                    <option value="@c.CampaignId">@c.CampaignName</option>
                }
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend flex-column col-md-3 pr-2">
                <label class="input-group-text" for="inputGroupSelect01">Home L.</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model.HomeLocation.LocationId">
                <option selected value="@Model.HomeLocation.LocationId">Choose...</option>
                @foreach (var l in ViewBag.Locations)
                {
                    <option value="@l.LocationId">@l.LocationName</option>
                }
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend flex-column col-md-3 pr-2">
                <label class="input-group-text" for="inputGroupSelect01">Current L.</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" asp-for="@Model.CurrentLocation.LocationId">
                <option selected value="@Model.CurrentLocation.LocationId">Choose...</option>
                @foreach (var l in ViewBag.Locations)
                {
                    <option value="@l.LocationId">@l.LocationName</option>
                }
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend flex-column col-md-3 text-left pr-2">
                <span class="input-group-text" id="inputGroup-sizing-default">Allegiance</span>
            </div>
            <input asp-for="Allegiance" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" value="@Model.Allegiance">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend flex-column col-md-3 pr-2">
                <span class="input-group-text" id="inputGroup-sizing-default">Description</span>
            </div>
<<<<<<< HEAD
            <textarea asp-for="Description" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">@Model.Description</textarea>
=======
            <textarea type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">@Model.Description</textarea>
>>>>>>> c653272779383612d4e212bf06481b25516d3786
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend flex-column col-md-3 pr-2">
                <span class="input-group-text" id="inputGroup-sizing-default">Notes</span>
            </div>
            <textarea asp-for="Notes" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">@Model.Notes</textarea>
        </div>
    </div>
    <div class="card-footer">
        <div class="btn-group">
            <button class="btn btn-success m-2 rounded" type="submit">
                <i class="fas fa-check"></i> Edit
            </button>
            <a asp-controller="Npcs" asp-action="Index" class="btn btn-secondary m-2 rounded">
                <i class="fas fa-arrow-alt-circle-left"></i> Back to List
            </a>
        </div>
    </div>
</form>