@model IEnumerable<player_log.Models.ListCampaignsVM>

@{
    ViewData["Title"] = "Campaign List";
}

<h1>Camapign List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <button class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id"><i class=""></i> Edit</button>
                <button class="btn btn-success" asp-action="Details" asp-route-id="@item.Id"><i class=""></i> Details</button>
                <button class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class=""></i> Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <button type="button" class="btn btn-primary" asp-action="Create">Create New Campaign</button>
</p>
