@{
    ViewBag.Title = "Campaigns";
}
@model IEnumerable<CampaignVM>

@if (Model.Count() == 0)
{
    <h2>No active campaigns</h2>
}
else
{
    @foreach (var c in Model)
    {
        <div class="card bg-light p-1 m-1 col-md-3 text-center d-inline-block item-card">
            <h2 class="card-body">
                <a
                   class="nav-link item-link"
                   asp-area=""
                   asp-controller="Campaigns"
                   asp-action="Details"
                   asp-route-id="@c.CampaignId" >
                   @c.CampaignName
                </a>
            </h2>
            <div class="card-footer">
                <div>
                    <a class="btn btn-dark col-2 text-center p-1"
                            asp-controller="Campaigns"
                            asp-action="Details"
                            asp-route-id="@c.CampaignId" >
                        <i class="fas fa-list"></i>
                    </a>
                    <a class="btn btn-primary offset-1 col-2 text-center p-1"
                            asp-controller="Campaigns"
                            asp-action="Edit"
                            asp-route-id="@c.CampaignId" >
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-danger offset-1 col-2 text-center p-1"
                       method="post"
                       onclick="return confirm('Are you sure you want to delete this campaign?')"
                            asp-controller="Campaigns"
                            asp-action="Delete"
                            asp-route-id="@c.CampaignId" >
                        <i class="fas fa-ban" ></i>
                    </a>
                </div>
            </div>
        </div>
    }
}

<div class="container p-4">
    <a asp-controller="Campaigns" asp-action="Create" class="btn btn-success">
        <i class="fas fa-plus"></i> Add New Campaign
    </a>
</div>