@model player_log.Models.CompanionViewDetailsVM

@{
    ViewData["Title"] = "NPC Details";
}

<h1>NPC Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanionClass)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanionClass)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Campaign.Name)
        </dd>
    </dl>
</div>
<div>
    <div>
        <a class="btn btn-info" asp-action="Edit"><i class="fa fa-edit"></i> Edit</a>
        <a class="btn btn-secondary" asp-action="Index"><i class="fa fa-ban"></i> Back to List</a>
    </div>
</div>
